@import 'variables', 'colors', 'fonts';

@mixin listStyleNone() {
    list-style: none; 
    a {
        text-decoration: none;
    }
}

@mixin flexRow() {
    display: flex;
    flex-direction: row;
}

@mixin HexagonStyling() {
    position: absolute;
    z-index: -1;
}